.tw-radio-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.tw-radio-grid-item {
	padding-right: var(--tw-size-padding-small);
	padding-bottom: var(--tw-size-padding-small);
	flex-basis: 20%;
	margin: 0;
}

.tw-radio-input {
	opacity: 0;
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
}

.tw-radio-label {
	position: relative;
	display: inline-block;
	padding-left: 2rem;
	margin: 0;
	
	&::before,
	&::after {
		position: absolute;
		content: "";
		
		/*Needed for the line-height to take effect*/
		display: inline-block;
	}
	
	/* Outer box of the fake checkbox */
	&::before {
		height: 1.25rem;
		width: 1.25rem;
		border: var(--tw-border-secondary);
		border-radius: 1.25rem;
		left: 0;
		top: 0.125rem;
	}
	
	/* Checkmark of the fake checkbox */
	&::after {
		height: 0.4rem;
		width: 0.6rem;
		border-left: 2px solid #fff;
		border-bottom: 2px solid #fff;
		transform: rotate(-45deg);
		left: 0.325rem;
		top: 0.5rem;
		content: none;
	}
	
	/* Unhide on the checked state */
	.tw-radio-input:checked + &::after {
		content: "";
	}
	
	.tw-radio-input:checked + &::before {
		background-color: var(--tw-color-brand-primary-1);
		border-color: transparent;
	}
	
	/* Adding focus styles on the outer-box of the fake checkbox */
	.tw-radio-input:focus + &::before {
		outline-style: solid;
		outline-offset: 2px;
		outline-width: 2px;
		outline-color: var(--tw-color-outline);
	}
}
