.homepage {
	
}

.home-hero {
	padding: var(--size-padding-large) var(--size-padding-xl);
}

.home-header {
	color: var(--tw-color-font-tertiary);
}

.home-tagline {
	
}

.home-logo {
	width: 4rem;
	height: 4rem;
	display: inline-block;
	/* margin: 0 auto; */
}

.home-testimonials {
	padding: var(--size-padding-xl);
	border-top: 1px solid var(--tw-color-border-primary);
}

.home-footer {
	background-color: var(--tw-color-background-tertiary);
	padding: var(--size-padding-xl);
}
