.homepage {
	margin-top: var(--size-header-offset);
	background-image: linear-gradient(to bottom, var(--theme-background-primary) 0%, var(--theme-background-selection-primary-inactive) 100%);
}

.home-hero {
	text-align: center;
	padding: var(--size-padding-xl);
	max-width: 50%;
	margin: 0 auto;
}

.home-header {
	
}

.home-tagline {
	
}

.home-logo {
	width: 4rem;
	height: 4rem;
	display: inline-block;
}

.home-testimonials {
	padding: var(--size-padding-xl);
	border-top: 1px solid var(--theme-border-primary);
}

.home-footer {
	background-color: var(--theme-background-tertiary);
	padding: var(--size-padding-xl);
}
