.tw-header {
	position: fixed;
	top: 0;
	height: 4rem;
	width: 100%;
	box-shadow: 0 0 1rem var(--tm-shadow),
		0 0 0 1px var(--tm-shadow);
	background-color: var(--theme-background-secondary);
	z-index: 100;
	display: flex;
	flex-direction: row;
}

.tw-header-primary-nav {
	flex: 1;
}

.tw-header-secondary-nav {
	align-self: flex-end;
}

.tw-header-nav-item {
	line-height: 4rem;
	height: 4rem;
	display: inline-block;
	padding: 0 var(--size-padding-base);
	border-bottom: 2px solid transparent;
	box-sizing: border-box;
	vertical-align: top;
}

.tw-header-nav-item.active {
	color: var(--application-activityBar-foreground);
	border-color: var(--theme-font-active);
}

.github-corner {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	display: block;
}

.github-corner > svg {
	color: #fff;
	fill: var(--application-activityBar-foreground);
	height: 3rem;
	width: 3rem;
}

.github-corner:hover .octo-arm {
	animation: a .56s ease-in-out;
}

.github {
	width: 2rem;
	height: 2rem;
	vertical-align: middle;
}

.github-path {
	fill: var(--theme-font-quaternary);
}

.github:hover .github-path {
	fill: var(--theme-font-tertiary);
}

@keyframes a {
	0%, 100% {
		transform: rotate(0);
	}
	20%, 60% {
		transform: rotate(-25deg);
	}
	40%, 80% {
		transform: rotate(10deg);
	}
}
