.tw-header {
	top: 0;
	height: 4rem;
	width: 100%;
	border-bottom: 2px solid var(--tw-color-border-primary);
	background-color: var(--tw-color-background-primary);
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.tw-header-primary-nav {
	flex: 1;
}

.tw-header-secondary-nav {
	align-self: flex-end;
	display: flex;
	align-items: center;
	height: 4rem;
}

.tw-header-secondary-nav > * {
	margin-right: var(--size-padding-base);
}

.tw-header-nav-item {
	line-height: 4rem;
	height: 4rem;
	display: inline-block;
	padding: 0 var(--size-padding-base);
	border-bottom: 2px solid transparent;
	box-sizing: border-box;
	vertical-align: top;
	color: var(--tw-color-font-nav);
	font-weight: bold;
}

.tw-header-nav-item.active {
	color: var(--tw-color-font-nav-active);
	border-color: var(--tw-color-font-nav-active);
}

.github-corner {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
	display: block;
}

.github-corner > svg {
	color: #fff;
	fill: var(--application-activityBar-foreground);
	height: 3rem;
	width: 3rem;
}

.github-corner:hover .octo-arm {
	animation: a .56s ease-in-out;
}

.github {
	width: 1.5rem;
	height: 1.5rem;
	vertical-align: middle;
}

.github-path {
	fill: var(--tw-color-font-quaternary);
}

.github:hover .github-path {
	fill: var(--tw-color-font-tertiary);
}

button.tw-header-button,
.button.tw-header-button {
	padding: var(--size-padding-tiny) var(--size-padding-base);
	text-transform: uppercase;
	margin-right: var(--size-padding-base);
}
