.tw-logo-link {
	display: inline-flex;
	height: 2rem;
	line-height: 2rem;
	padding: 0 var(--size-padding-base);
}

.tw-logo-svg {
	/* width: 100%; */
	height: 100%;
	opacity: 0.75;
}

.tw-logo-svg .hatch-1 {
	fill: var(--tw-color-brand-primary-1);
}

.tw-logo-svg .hatch-2 {
	fill: var(--tw-color-brand-secondary-1);
}

.tw-logo-icon {
	display: inline-block;
	/* border-radius: 3rem; */
	width: 2rem;
	height: 2rem;
	background-color: var(--application-inputValidation-infoBackground);
	color: var(--application-inputValidation-infoForeground);
	/* box-shadow: 0 0 2px var(--application-inputValidation-infoBorder); */
	box-shadow: 0 0 1rem var(--tm-shadow),
		0 0 0 1px var(--tm-shadow);
	font-size: 1rem;
	/* font-weight: bold; */
	line-height: 2rem;
	text-align: center;
	margin: 0.5rem;
}

.tw-logo-text {
	color: var(--tw-color-font-tertiary);
	padding-left: var(--size-padding-small);
	font-weight: bold;
}
