.app-nav {
	/* background-color: var(--application-sideBar-background); */
	align-self: stretch;
	/* justify-self: stretch; */

}

.app-nav-inner {
	top: 0;
	position: sticky;
}

.app-nav-item {
	display: flex;
	flex-direction: row;
	padding: var(--size-padding-base);
	text-decoration: none;
	color: var(--application-editorLink-activeForeground);
	/* margin-left: var(--size-padding-small); */
	/* border-left: 2px solid transparent; */
}

.app-nav-item-label {
	flex: 1;
	display: block;
}

.app-nav-item.active {
	color: var(--application-activityBar-foreground);
	background-color: var(--application-editor-background);
	/* border-left-color: var(--application-activityBar-foreground); */
}

.app-nav-item-icon {
	display: block;
	padding-left: var(--size-padding-base);
	opacity: 0;
	font-size: 1.25rem !important; /* lazy */
}

.active > .app-nav-item-icon {
	opacity: 1;
}
