.app-nav {
	/* z-index: 200;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0; */
	/* width: 7rem; */
	background-color: var(--application-sideBar-background);
}

.app-nav-item {
	display: block;
	padding: var(--size-padding-base);
	text-decoration: none;
	color: var(--application-editorLink-activeForeground);
}

.app-nav-item.active {
	color: var(--application-activityBar-foreground);
}
