.token-field {
	position: relative;
	display: flex;
	flex-direction: row;
}

.token-field-label {
	font-weight: bold;
}

.token-description {
	display: block;
	font-weight: normal;
}

.token-field-input {
	display: block;
	flex: 1;
	/* padding: var(--size-padding-base);
	background-color: var(--application-input-background);
	border: 1px solid var(--application-focusBorder); */
	border-right: none;
}

.token-field-wrapper {
	margin-bottom: var(--size-padding-large);
}

.token-field-label {
	margin-bottom: var(--size-padding-small);
}

.token-autocomplete {
	position: absolute;
	width: 100%;
	top: 100%;
	background-color: var(--application-input-background);
	color: var(--application-input-foreground);
	z-index: 999;
}

.token-autocomplete-item {
	display: block;
	padding: var(--size-padding-small);
	border-top: 1px solid var(--application-focusBorder);
}

.token-autocomplete-item:hover {
	background-color: var(--application-input-background);
}

.token-autocomplete-item:first-child {
	border: none;
}

.token-reverse-lookup-title {
	margin: 0;
}

.token-reverse-lookup-title > .codicon {
	transition: transform 100ms ease;
}

.expanded > .token-reverse-lookup-title > .codicon {
	transform: rotate(180deg);
}

.token-reverse-lookup-title {}

.token-reverse-lookup-list {
	
}
