.token-group {
	padding-top: var(--size-padding-large);
	position: relative;
	margin-top: var(--size-padding-large);
}

.token-group::before {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	border-top: 2px solid var(--tw-color-border-secondary);
}

.token-group-title {
	
}

.token-group-description {
	
}
