.token-field {
	position: relative;
	display: flex;
	flex-direction: row;
}

.token-field-label {
	font-weight: bold;
	flex: 1;
	/* margin-bottom: var(--size-padding-small); */
	margin-bottom: 0;
}

.token-description {
	display: block;
	font-weight: normal;
	font-size: var(--size-font-small);
	line-height: 1.2;
	margin-bottom: var(--size-padding-small);
}

.token-field-input {
	display: block;
	flex: 1;
	border: 2px solid var(--tw-color-border-secondary);
	border-right: none;
	padding: var(--size-padding-small);
	height: 3rem;
	border-radius: 4px;
	font-size: 1rem;
	width: 100%;
	box-sizing: border-box;
}

.token-field-input:focus {
	border-color: var(--tw-color-border-focus);
	outline: none;
}

.token-field-input:focus + .swatch-wrapper {
	border-color: var(--tw-color-border-focus);
}

.token-field-wrapper {
	margin: var(--size-padding-large) 0;
	/* position: relative; */
}



.token-autocomplete {
	position: absolute;
	width: 100%;
	top: 100%;
	background-color: var(--tw-color-background-primary);
	z-index: 999;
}

.token-autocomplete-item {
	display: block;
	padding: var(--size-padding-small);
	border: 2px solid var(--tw-color-border-primary);
	margin-top: -2px;
}

.token-autocomplete-item:hover,
.token-autocomplete-item.active {
	background-color: var(--tw-color-background-secondary);
}

.token-autocomplete-item:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.token-reverse-lookup {
	/* position: relative; */
	position: absolute;
	top: var(--size-padding-base);
	right: 0;
}

.token-reverse-lookup-title {
	margin: 0;
	/* color: #fff; */
	color: var(--tw-color-font-link);
	/* padding: var(--size-padding-small);
	border-radius: 1rem; */
	font-weight: bold;
}

.token-reverse-lookup-title > .codicon {
	/* transition: transform 100ms ease; */
	font-size: 1.125rem;
}

.token-field-header {
	display: flex;
	flex-direction: row;
}

.token-reverse-lookup {
	/* position: relative; */
}

.token-reverse-lookup-list {
	position: absolute;
	top: 100%;
	right: 0;
	padding: var(--size-padding-base) !important;
	background-color: var(--tw-color-background-primary);
	box-shadow: 0 0.25rem 1rem var(--tw-shadow);
	border-radius: 4px;
	opacity: 0;
	display: none;
	max-width: 20rem;
}

.token-reverse-lookup-list > li {
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: var(--size-font-small);
}

.token-reverse-lookup:hover > .token-reverse-lookup-list {
	opacity: 1;
	display: block;
	z-index: 3;
}

.token-references {
	color: var(--tw-color-font-tertiary);
	list-style: none;
}

.token-reference {
	/* display: inline-block;
	padding-right: var(--size-padding-small); */
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	white-space: nowrap;
	font-size: var(--size-font-small);
}

.token-reference::before {
	content: 'âŽ';
	color: var(--tw-color-font-quaternary);
	transform: scaleX(-1); /* flips horizontally */
	display: inline-block;
}

.token-references > .codicon {
	vertical-align: middle;
	color: var(--tw-color-font-quaternary);
}
