.token-group {
	padding-top: var(--size-padding-large);
	margin-top: var(--size-padding-large);
}

.token-group-title {
	position: relative;
}

.token-group-title::before {
	content: ' ';
	position: absolute;
	top: -1rem;
	left: 0;
	width: 50%;
	border-top: 2px solid var(--tw-color-border-secondary);
}

.token-group-description {
	
}
