
@font-face {
	font-family: "MonoLisa";
	src: url("fonts/MonoLisa-Regular.woff2") format("woff2"),
			 url("fonts/MonoLisa-Regular.woff") format("woff");
}

@font-face {
	font-family: "MonoLisa";
	font-style: italic;
	src: url("fonts/MonoLisa-RegularItalic.woff2") format("woff2"),
			 url("fonts/MonoLisa-RegularItalic.woff") format("woff");
}

:root {
	/* Sizes */
	--size-padding-xs: 0.125rem;
	--size-padding-tiny: 0.25rem;
	--size-padding-small: 0.5rem;
	--size-padding-base: 1rem;
	--size-padding-large: 1.5rem;
	--size-padding-xl: 2.5rem;

	--size-border-base: 0.125rem;
	--size-border-large: 0.5rem;

	--size-font-small: 0.875rem;
	--size-font-base: 1rem;
	--size-font-large: 1.25rem;
	--size-font-xl: 1.75rem;
	--size-font-xxl: 2.5rem;

	--size-breakpoint-small : 400px;
	--size-breakpoint-medium : 1000px;
	--size-breakpoint-large : 1400px;
	
	--size-header-height: 3rem;
	--size-header-offset: calc(var(--size-header-height) + var(--size-padding-base));

	--time-duration-base: 0.2s;

	--font-family-mono: 'MonoLisa', 'Source Code Pro', monospace;
	--font-family-primary: 'Source Sans Pro', 'Open Sans', Arial, Helvetica, sans-serif;
}

/* * {
	box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--application-editor-background);
	color: var(--application-editor-foreground);
}

.dark {
	--tm-shadow: rgba(0,0,0,0.5);
}

.light {
	--tm-shadow: rgba(0,0,0,0.15);
}

a {
	color: var(--application-textLink-foreground);
	text-decoration: none;
}

a:hover {
	color: var(--application-textLink-activeForeground);
}

code {
  font-family: var(--font-family-mono);
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

h4 {
	font-size: var(--size-font-large);
}

.swatch {
	display: inline-block;
	width: 20px;
	height: 20px;
}

input {
	background-color: var(--application-input-background);
	color: var(--application-input-foreground);
	border-color: var(--application-input-border);
	padding: var(--size-padding-small);
	font-size: 1rem;
}

input:focus {
	border-color: var(--application-button-hoverBackground);
	outline: none;
	/* outline-style: solid;
	outline-offset: 0;
	outline-width: 2px;
	outline-color: var(--application-button-hoverBackground); */
}

label {
	display: block;
}

.app-page {
	/* padding: var(--size-padding-large);
	position: relative; */
}

.app {
	margin-right: 50%;
	padding-right: var(--size-padding-xl);
	padding-top: 4rem;
}

.editor-pane {
	/* display: grid;
	grid-template-columns: auto 1fr; */
}

.preview-pane {
	position: fixed;
	top: var(--size-header-offset);
	bottom: 1rem;
	right: 1rem;
	width: 50%;
	box-shadow: 0 0 1rem var(--tm-shadow),
		0 0 0 1px var(--tm-shadow);
}

.page-with-toc {
	display: grid;
	grid-template-columns: auto 1fr;
}

.toc {
	position: sticky;
	top: 4rem;
	width: 10rem;
	align-self: start;
}

.toc-link {
	display: block;
	padding: var(--size-padding-small) var(--size-padding-base);
}

.toc-link.is-current {
	color: var(--theme-font-link-secondary-active);
}

.page-content {
	padding: var(--size-padding-large);
}

.checkbox-group {
	display: flex;
	flex-direction: row;
}

.checkbox-group-item {
	flex: 1;
	padding: var(--size-padding-small) 0;
}


.checkbox input[type="checkbox"] {
	opacity: 0;
	padding: 0;
	margin: 0;
	width: 0;
	height: 0;
}

.checkbox label {
	position: relative;
	display: inline-block;
	padding-left: 2rem;
}

.checkbox label::before,
.checkbox label::after {
	position: absolute;
	content: "";
	
	/*Needed for the line-height to take effect*/
	display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
	height: 1rem;
	width: 1rem;
	
	border: 2px solid var(--theme-border-primary);
	border-radius: 4px;
	left: 0;
	
	/*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
	 *to vertically center it.
	 */
	top: 0;
}

/*Checkmark of the fake checkbox*/
.checkbox label::after {
	height: 0.3rem; /*5px*/
	width: 0.6rem; /* 9px */
	border-left: 2px solid;
	border-bottom: 2px solid;
	
	transform: rotate(-45deg);
	
	left: 0.25rem;
	top: 0.3rem;
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
	content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
	content: "";
}

.checkbox input[type="checkbox"]:checked + label::before {
	background-color: var(--theme-background-interactive-hover);
	border-color: transparent;
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
	outline-style: solid;
	outline-offset: 0.25rem;
	outline-width: 2px;
	outline-color: var(--application-button-hoverBackground);
}
