:root {
	/* Sizes */
	--size-padding-xs: 0.125rem;
	--size-padding-tiny: 0.25rem;
	--size-padding-small: 0.5rem;
	--size-padding-base: 1rem;
	--size-padding-large: 1.5rem;
	--size-padding-xl: 2.5rem;

	--size-border-base: 0.125rem;
	--size-border-large: 0.5rem;

	--size-font-small: 0.875rem;
	--size-font-base: 1rem;
	--size-font-large: 1.25rem;
	--size-font-xl: 1.75rem;
	--size-font-xxl: 2.5rem;

	--size-breakpoint-small : 400px;
	--size-breakpoint-medium : 1000px;
	--size-breakpoint-large : 1400px;

	--time-duration-base: 0.2s;

	--font-family-mono: 'Source Code Pro', monospace;
	--font-family-primary: 'Source Sans Pro', 'Open Sans', Arial, Helvetica, sans-serif;
}


body {
  margin: 0;
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding-left: 6rem;
	background-color: var(--application-editor-background);
	color: var(--application-editor-foreground);
}

a {
	color: var(--application-textLink-foreground);
	text-decoration: none;
}

a:hover {
	color: var(--application-textLink-activeForeground);
}

code {
  font-family: var(--font-family-mono);
}

.swatch {
	display: inline-block;
	width: 20px;
	height: 20px;
}

input {
	background-color: var(--application-input-background);
	color: var(--application-input-foreground);
	border-color: var(--application-input-border);
	padding: var(--size-padding-small);
	font-size: 1rem;
}

label {
	display: block;
}



.group {
	padding-left: var(--size-padding-base);
	border-left: 2px solid var(--application-focusBorder);
}

.app-page {
	padding: var(--size-padding-xl);
	height: 100%;
	overflow-y: auto;
	flex: 1;
}

.app {
	position: fixed;
	top: 3rem;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: row;
}

.editor-pane {
	flex: 1;
	overflow: visible;
	position: relative;
	display: flex;
	flex-direction: row;
	border: 2px solid var(--application-editorGroup-border);
	/* border-top-width: 2rem; */
	position: relative;
	padding-top: 2rem;
}

.preview-pane::before,
.editor-pane::before {
	content: 'Editor';
	font-size: 0.75rem;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 0.5rem;
	width: 100%;
	line-height: 2rem;
	border-bottom: 2px solid var(--application-editorGroup-border);
}

.preview-pane {
	flex: 1;
	overflow: visible;
	position: relative;
	border: 2px solid var(--application-editorGroup-border);
	/* border-top-width: 2rem; */
	position: relative;
	padding-top: 2rem;
}


.preview-pane::before {
	content: 'Preview';
	/* font-size: 0.75rem;
	text-transform: uppercase;
	position: absolute;
	top: -2rem;
	left: 1rem;
	line-height: 2rem; */
}
