


.app {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	border-width: 5px 0 0 0;
	border-style: solid;
	border-image-slice: 1;
	border-image-source: linear-gradient(315deg, var(--tw-color-brand-primary-1), var(--tw-color-brand-secondary-1));
}

.app {
	--application-sideBarSectionHeader-border: #0000;
}

/* default vs code theme dark */
.app.dark {
	--application-background: #252526;
	--application-foreground: #CCCCCC;
	--application-editor-background: #1E1E1E;
	--application-editor-foreground: #D4D4D4;
	--application-editor-inactiveSelectionBackground: #3A3D41;
	--application-editorIndentGuide-background: #404040;
	--application-editorIndentGuide-activeBackground: #707070;
	--application-editor-selectionHighlightBackground: #ADD6FF26;
	--application-list-dropBackground: #383B3D;
	--application-activityBarBadge-background: #007ACC;
	--application-activityBarBadge-foreground: #FFFFFF;
	--application-activityBar-background: #333333;
	--application-activityBar-foreground: #FFFFFF;
	--application-sideBarTitle-foreground: #BBBBBB;
	--application-sideBar-background: #252526;
	--application-input-placeholderForeground: #A6A6A6;
	--application-settings-textInputBackground: #292929;
	--application-settings-numberInputBackground: #292929;
	--application-menu-background: #252526;
	--application-menu-foreground: #CCCCCC;
	--application-statusBarItem-remoteForeground: #FFF;
	--application-statusBarItem-remoteBackground: #4d78cc;
	--application-statusBar-background: #007acc;
	--application-statusBar-foreground: #FFFFFF;
	--application-sideBarSectionHeader-background: #80808033;
	--application-panel-border: #80808059;
	--application-gitDecoration-addedResourceForeground: #81b88b;
	--application-gitDecoration-modifiedResourceForeground: #E2C08D;
	--application-gitDecoration-deletedResourceForeground: #c74e39;
	--application-gitDecoration-untrackedResourceForeground: #73C991;
	--application-gitDecoration-ignoredResourceForeground: #8C8C8C;
	--application-gitDecoration-conflictingResourceForeground: #6c6cc4;
	--application-gitDecoration-submoduleResourceForeground: #8db9e2;
}

.app.light {
	--application-background: #F3F3F3;
	--application-foreground: #616161;
	--application-editor-background: #FFFFFF;
	--application-editor-foreground: #000000;
	--application-editor-inactiveSelectionBackground: #E5EBF1;
	--application-editorIndentGuide-background: #D3D3D3;
	--application-editorIndentGuide-activeBackground: #939393;
	--application-editor-selectionHighlightBackground: #ADD6FF80;
	--application-editorSuggestWidget-background: #F3F3F3;
	--application-activityBarBadge-background: #007ACC;
	--application-activityBarBadge-foreground: #FFFFFF;
	--application-activityBar-background: #2C2C2C;
	--application-activityBar-foreground: #FFFFFF;
	--application-sideBarTitle-foreground: #6F6F6F;
	--application-sideBar-background: #F3F3F3;
	--application-statusBar-background: #007acc;
	--application-statusBar-foreground: #FFFFFF;
	--application-sideBarSectionHeader-background: #80808033;
	--application-panel-border: #80808059;
	--application-list-hoverBackground: #E8E8E8;
	--application-input-placeholderForeground: #767676;
	--application-searchEditor-textInputBorder: #CECECE;
	--application-settings-textInputBorder: #CECECE;
	--application-settings-numberInputBorder: #CECECE;
	--application-statusBarItem-remoteForeground: #FFF;
	--application-statusBarItem-remoteBackground: #16825D;
	--application-gitDecoration-addedResourceForeground: #587c0c;
	--application-gitDecoration-modifiedResourceForeground: #895503;
	--application-gitDecoration-deletedResourceForeground: #ad0707;
	--application-gitDecoration-untrackedResourceForeground: #007100;
	--application-gitDecoration-ignoredResourceForeground: #8E8E90;
	--application-gitDecoration-conflictingResourceForeground: #6c6cc4;
	--application-gitDecoration-submoduleResourceForeground: #1258a7;
}

.app.hc {
	--application-background: #000000;
	--application-foreground: #FFFFFF;
	--application-editor-background: #000000;
	--application-editor-foreground: #FFFFFF;
	--application-editorIndentGuide-background: #FFFFFF;
	--application-editorIndentGuide-activeBackground: #FFFFFF;
	--application-statusBarItem-remoteBackground: #00000000;
	--application-statusBar-foreground: #FFFFFF;
	--application-sideBarTitle-foreground: #FFFFFF;
	--application-sideBar-background: #000000;
	--application-activityBarBadge-foreground: #FFFFFF;
	--application-activityBar-background: #000000;
	--application-activityBar-foreground: #FFFFFF;
	--application-gitDecoration-addedResourceForeground: #1b5225;
	--application-gitDecoration-modifiedResourceForeground: #E2C08D;
	--application-gitDecoration-deletedResourceForeground: #c74e39;
	--application-gitDecoration-untrackedResourceForeground: #73C991;
	--application-gitDecoration-ignoredResourceForeground: #A7A8A9;
	--application-gitDecoration-conflictingResourceForeground: #6c6cc4;
	--application-gitDecoration-submoduleResourceForeground: #8db9e2;
}



pre {
	font-family: var(--tw-font-family-mono);
	padding: var(--tw-size-padding-base);
	background-color: var(--tw-color-background-secondary);
}







label {
	display: block;
	margin-bottom: var(--tw-size-padding-small);
}

.editor-pane {
	height: 100%;
	display: flex;
	flex-direction: row;
}

.preview-pane {
	height: 100%;
	width: 100%;
	position: relative;
	box-shadow: 0 0.25rem 1rem var(--tw-color-shadow-primary);
	outline-width: 1px;
	outline-style: solid;
	outline-color: transparent;
	outline-color: var(--application-window-inactiveBorder, #0000);
}

.preview-pane:focus,
.preview-pane:focus-within,
.preview-pane:active {
	outline-color: var(--application-window-activeBorder, #0000);
}




.page-content {
	flex: 1;
	overflow-x: hidden;
	overflow-y: scroll;
	position: relative;
	background:
		/* Shadow covers */
		linear-gradient(white 30%, rgba(255,255,255,0)),
		linear-gradient(rgba(255,255,255,0), white 70%) 0 100%,
		
		/* Shadows */
		radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
		radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
	background-repeat: no-repeat;
	background-color: white;
	background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

	/* Opera doesn't support this in the shorthand */
	background-attachment: local, local, scroll, scroll;
}

.page-content-inner {
	padding: var(--tw-size-padding-large);
}





.flow > * + * {
	margin-top: var(--tw-size-padding-large);
}



.base-color-group {
	margin-top: var(--tw-size-padding-base);
}






.highlight.new-token {
  animation: 1.5s linear normal highlight_animation;
}

@keyframes highlight_animation {
  0% {
		background-color: var(--tw-color-background-primary);
		box-shadow: 0 0 2rem transparent;
  }
  50% {
		background-color: var(--tw-color-background-selection);
		box-shadow: 0 0 2rem var(--tw-color-background-selection);
  }
  100% {
		background-color: var(--tw-color-background-primary);
		box-shadow: 0 0 2rem transparent;
  }
}



.base-color {
	position: relative;
	padding: var(--tw-size-padding-base);
}

.base-color.dark {
	color: #fff;
}

.base-color-popup {
	background-color: var(--tw-color-background-primary);
	padding: var(--tw-size-padding-base);
	color: var(--tw-color-font-primary);
}

.base-color-popup input[type="range"] {

}

.base-color-chevron {
	position: absolute;
	top: var(--tw-size-padding-base);
	right: var(--tw-size-padding-base);
	transition: transform 0.25s ease-in-out;
}


.expanded > .base-color-chevron {
	transform: rotate(180deg);
}

.codicon[class] {
	font-size: inherit;
}



.token-select {
	color: var(--tw-color-font-primary);
	position: relative;
	z-index: 3;
}

div.token-select__control {
	border-width: 2px;
	border-color: var(--tw-color-border-secondary);
	border-radius: 4px;
}



.base-color > .token-badge {
	top: var(--tw-size-padding-base);
	right: calc(var(--tw-size-padding-large) + var(--tw-size-font-large));
	left: auto;
	bottom: auto;
	background-color: var(--tw-color-background-primary);
	color: var(--tw-color-font-primary);
}
